ppvenv
key.pem
cert.pem
AWS/
/*/__pycache__/

.git
.gitignore

db.sqlite3
test.rest
test_image_processing.py
seed.py

# .dockerignore file
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/.env
.venv
venv
ENV
env
build
dist
.git
*.egg-info
.cache
.project
.classpath
.settings
.idea/
*.swp
*~
.DS_Store
